<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        {% block stylesheets %}
            {#{ encore_entry_link_tags('app') }#}
        {% endblock %}

        {% block javascripts %}
            {#{ encore_entry_script_tags('app') }#}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="{{ path('list_player') }}">Joueur</a>
                </li>
                <li>
                    <a href="{{ path('list_club') }}">Equipe (club)</a>
                </li>
                <li>
                    <a href="{{ path('list_national_team') }}">Equipe nationale</a>
                </li>
            </ul>
        </nav>
    </body>
    {% block body %}{% endblock %}
</html>
